doctype html
html(lang!="en")
  head
    meta(charset!="UTF-8")
    title Zel
    link(rel!="stylesheet" href!="css/style2.css" type!="text/css")
  body
    div(id!="appListDiv")
      header(id!="header" class!="fadesIn") Welcome #{usr}.
      <!-- Populated by user permissions. -->
      nav(class!="appListNav") No displayable apps.